@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

body {
    margin: 0;
    padding: 0;
}

nav {
    background: linear-gradient(rgba(172, 118, 118, 0.5), rgba(255, 255, 255, 0.5));
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;

}

.logo1 img {
    width: 150px;
    padding: 8px 12px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    font-family: monospace;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    text-transform: uppercase;
    padding: 8px 12px;
}

nav ul li a:hover {
    color: #ff7e5f;
}

.backcover {
    display: flex;
    justify-content: center;
    background-color: transparent;
    height: 43vh;
    margin-bottom: 20px;
}

.image-side {
    flex: 1;
    background-color: transparent;
}

.image-side img {
    height: 60vh;
    border-radius: 60px;
    width: 100%;
    mix-blend-mode: multiply;
    transition: transform 0.3s ease-in-out;
}

.image-side:hover img {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(214, 205, 214, 0.8), 0 0 25px rgba(161, 151, 161, 0.6);
}

.color-side-left,
.color-side-right {
    background-color: transparent;
    width: 20%;
    height: 60vh;
}

.wellcome {
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    font-family: "Pixelify Sans", sans-serif;
    color: black;
    margin-bottom: 20px;
    padding-top: 25px;
    margin-top: 170px;
}
.text1 {
    font-size: 30px;
    padding-left: 35px;
    font-family: "Rubik Mono One", serif;
    font-weight: 400;
    margin-bottom: 30px;
    margin-left: 60px;
    margin-top: 50px;
}
#game-card {
    /* background-color: black; */
    width: 510px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    transition: transform 0.3s ease-in-out;
    height: 23vh;
    display: flex;
    float: left;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#game-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-bottom: 2px solid #444;
    opacity: 0.8;
}

#game-card:hover {
    transform: translateY(-10px);
    border-color: aliceblue;
}

.card {
    margin-left: 60px;
}


#game-card:hover .image-side img {
    transform: scale(1.1);
   
}

#game-card:hover .overlay {
    opacity: 0.4; 
  
}

.card-news {
    background-color: #bb3535;
}