@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

body {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

nav {
    background: linear-gradient(rgba(172, 118, 118, 0.5), rgba(255, 255, 255, 0.5));
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
}

.logo1 {
    font-size: 45px;
    padding-left: 40px;
}

.text-heading {
    color: red;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    font-family: monospace;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    text-transform: uppercase;
    padding: 8px 12px;
}

nav ul li a:hover {
    color: #ff7e5f;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin-left: 10%;
    padding: 0 20px;
    margin-top: 10%;
    margin-bottom: 10.6%;
}

.left-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.left-side img {
    width: 750px;
}

.right-side {
    flex: 1;
    text-align: left;
}

.my-portfolio {
    display: flex;
    align-items: center;
    padding-top: 30px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 50px;
}

.heading {
    font-size: 100px;
    margin: 0;
    background: linear-gradient(to right, #f76969, #EBEDEE 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 50px;
    font-weight: bold;
    position: relative;
} 


h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    background: linear-gradient(to right, #f76969, #EBEDEE 70%);

}
.main-content {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 7%;
}

.main-content p {
    font-family: monospace;
    line-height: 1.8;
    font-size: 1.2rem;
}

/* Footer Start */
.footer {
    background-color: #0a0a0a;
    padding: 30px;
    padding-top: 40px;
    height: 18vh;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

}

.footer-top {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
    border-top: 1px solid #444;
    padding-top: 20px;
}

.social-link {
    font-size: 30px;
    color: #555;
    border: 2px solid #444;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.social-link:hover {
    transform: scale(1.2);
    color: white;
    background-color: #007bff;
    border-color: #f0f1f3;
}

.footer-bottom {
    margin-top: 10px;

    margin-bottom: 20px;
}

.email {
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-bottom: 10px;
}

.email a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.email:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);

}

.email a:hover {
    text-decoration: underline;

}

.privacy-policy {
    border-bottom: 1px solid #444;
    padding-bottom: 30px;
    margin-top: 10px;
}

.privacy-policy a {
    color: #f7f7f7;
    text-decoration: none;
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
}

.privacy-policy a:hover {
    text-decoration: underline;
    text-decoration: none;
}

/* Footer End */